{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather in your Pocket</title>
</head>
<body>
<img src = '{% static "myapp/weather.png" %}' width="150" height="150">
<br>
<span style = "color:cornflowerblue"> WEATHER WEB APP </span>
<br>
Daniel Villar - Jose Amenabar - Mason Gao - Matthew
<br><br><br>
<form action="#">
      <label for="lang">City</label>
      <select name="City" id="lang">
        <option value="New York">New York</option>
        <option value="London">London</option>
        <option value="Madrid">Madrid</option>
        <!--<option value="San Francisco">San Francisco</option>
        <option value="Hong Kong">Hong Kong</option>
        <option value="Seul">Seul</option>
        <option value="Tokyo">Tokyo</option>
        <option value="Brasilia">Brasilia</option> -->
      </select>
      <input type="submit" value="Search" />
</form>


<!--<label style="color:royalblue; font-size:180px"><center>30ºC</center></label>-->
<label style="color:royalblue; font-size:180px"><center>{{ temperature }}ºC</center></label>

<!--<label style="color:royalblue; font-size:180px"><center>{{ weather }}</center></label>
-->

<center>{{ time_of_day }}</center>

</body>
</html>
